<?xml version="1.0" encoding="utf-8"?>
<PropsFields xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <XMLFileName>D:\Рабочий стол\Диплом 2\VisualisationData\VisualisationData\bin\Debug\settings.xml</XMLFileName>
  <Host>remotemysql.com</Host>
  <Port>3306</Port>
  <Database>xVpoPVpBoJ</Database>
  <Username>xVpoPVpBoJ</Username>
  <Password>e9ji45qzRZ</Password>
</PropsFields>